<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Traitement des exceptions  -->
 
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>   
     <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>  
    <error-page>
        <exception-type>javax.faces.FacesException</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.el.EvaluationException</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>    
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.jsp.JspException</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.OutOfMemoryError</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page> 
    <error-page>
        <exception-type>403</exception-type>
        <location>/pages/common/eps_error.jsf</location>
    </error-page>
  <error-page> 
    <error-code>500</error-code> 
         <location>/pages/common/eps_error.jsf</location> 
  </error-page>
         
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  
  	<context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
       		/WEB-INF/faces-managed-bean-param.xml,
            /WEB-INF/faces-config.xml,
            /WEB-INF/faces-navigation.xml
        </param-value>
    </context-param>
    
      <context-param>
        <param-name>jsf-security-user-provider</param-name>
        <param-value>metier.eps.jsf.security.usersession.SessionUserProvider</param-value>
    </context-param>
  
    <context-param>

        <param-name>org.richfaces.SKIN</param-name>

        <param-value>blueSky</param-value>

    </context-param>
      <context-param>
        <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
        <param-value>false</param-value>
    </context-param>
        <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    
    <filter>
        <display-name>Ajax4jsf Filter</display-name>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
  
</web-app>